html, body
{
    font-family: tahoma, arial, verdana, sans-serif;
    min-width: 1200px;
    height: 100%;
}

.form-signin
{
    max-width: 300px;
    padding: 19px 20px 19px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.checkbox
{
    width: 120px;
    padding-left: 30px;
    margin-bottom: 5px;
}

.form-signin input[type="text"],
.form-signin input[type="password"]
{
    margin-bottom: 15px;
    padding: 5px 7px;
}

.form-signin .add-on
{
    padding: 5px 7px;
}

.form-signin .form-actions
{
    background-color: #FFFFFF;
}

#content-login
{
    width: auto;
    max-width: 300px;
    margin: 50px auto 40px;
}

.form-search
{
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}


/* Sticky Footer styles begin
 * #wrap.margin-bottom > #push.height > #footer.height
 */
#wrap
{
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto -72px;
}

#footer
{
    height: 40px;
    margin-top: 15px;
    padding: 15px 0px 0px 0px;
    font-size: 95%;
    text-align: center;
    border-top: 2px solid #EEEEEE;
}

#push
{
    height: 72px;
}

/* Sticky Footer styles end */

/* Sidenav for Docs
-------------------------------------------------- */

.nav-sidebar
{
    width: 210px;
    padding: 0;
    background-color: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.nav-sidebar > li > a,
.nav-sidebar > li > .sidebar-header
{
    display: block;
    width: 180px;
    margin: 0 0 -1px;
    padding: 5px 14px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.nav-sidebar > li:first-child > a,
.nav-sidebar > li.sidebar-header:first-child
{
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.nav-sidebar > .sidebar-header
{
    padding: 7px 14px;
    font-weight: bold;
    line-height: 20px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
.nav-sidebar > li:last-child > a
{
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.nav-sidebar > .active > a
{
    position: relative;
    z-index: 2;
    padding: 6px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
.nav-sidebar > li > a:hover
{
    background-color: #f5f5f5;
}

/* Table
----------------------------------------*/

/*** data table ***/
table.data
{
    table-layout: fixed;
    width: 100%;
}

table.data td
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;                 /* for IE */
    -o-text-overflow: ellipsis;             /* for Opera */
    -khtml-text-overflow: ellipsis;         /* for Konqueror Safari */
    -moz-text-overflow: ellipsis;           /* for Firefox,mozilla */
    -webkit-text-overflow: ellipsis;        /* for Safari,Swift*/
    vertical-align: bottom;
}

table.data th:first-child
{
    width: 20px;
}

table.data td:first-child
{
    text-align: center;
    padding: 7px 0 9px;
}

table.page
{
    width: 100%;
}

table.page td.desc
{
    width: 200px;
    vertical-align: top;
}

.form-horizontal
{
}

.form-head
{
    font-weight: bold;
    text-transform: uppercase;
}

.form-horizontal .form-foot
{
    background-color: #FFFFFF;
    text-align: right;
}

/*  Misc
--------------------------------------------*/
.control-group .align
{
    padding-top: 5px;
    font-weight: bold;
}

.required
{
    font-weight: 600;
}

.fixed-width
{
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
}

.right-float
{
    float: right;
}

.left
{
    text-align: left;
}

.right
{
    text-align: right;
}